#trailer,
form,
#month .minical,
.title,
.popup,
.printer,
.nav,
.bullet,
.new,
.prev,
.next {
	display: none !important;
}
a {
	color: inherit !important;
}
#cat {
	display: inline !important;
}
.entry, 
.layerentry, 
.unapprovedentry {
	font-size: 12px;
}
